<%= form_for(@meal_queue) do |f| %>
  <% if @meal_queue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal_queue.errors.count, "error") %> prohibited this meal_queue from being saved:</h2>

      <ul>
      <% @meal_queue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
