<h1>Listing shopping_lists</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shopping_lists.each do |shopping_list| %>
  <tr>
    <td><%= shopping_list.user_id %></td>
    <td><%= link_to 'Show', shopping_list %></td>
    <td><%= link_to 'Edit', edit_shopping_list_path(shopping_list) %></td>
    <td><%= link_to 'Destroy', shopping_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shopping list', new_shopping_list_path %>
