<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe_name %><br />
    <%= f.text_field :recipe_name %>
  </div>
  <div class="field">
    <%= f.label :shopping_name %><br />
    <%= f.text_field :shopping_name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :conversion %><br />
    <%= f.text_field :conversion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
